/* Blocks */

.wp-block-button__link {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 20px 15px 20px;
  margin: 5px 10px 5px 0;
  font: $bold 1.4rem/1.4rem $regular;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  letter-spacing: 0.1rem;
  @include border-radius(5px);
  border: 1px solid $black;
  background: $black;
  &:hover {
    background: transparent;
    border: 1px solid $black;
    color: $black;
  }
}

.wp-block-columns {
  margin-bottom: $padding-half;
  &:last-child {
    margin-bottom: 0;
  }
}