// Footer
footer {
  font: $normal 1.6rem/3.0rem $regular;
  position: relative;
  overflow-wrap: break-word;
  padding: 40px 0px;
  color: $white;
  background: $blue;
  text-align: center;
  @media (min-width: $breakpoint-tablet) {
    text-align: left; 
  }
  .logo {
    img, svg {
      height: 160px;
    }
  }
  h5 {
    color: $white;
    font: $bold 2.2rem/3.2rem $regular;
    margin-bottom: 10px;
  }
  p, address {
    font: $normal 1.4rem/2.4rem $regular;
    @media (min-width: $breakpoint-laptop) {
      font: $normal 1.6rem/2.7rem $regular;
    }
  }
  address {
    margin-bottom: 20px;
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      color: $white;
      text-decoration-color: $blue;
    }
  }
  ul {
    margin-bottom: 10px;
  }
  ul.footer-sites {
    margin-bottom: 0;
    li {
      &.site-1 {
        a {
          border-left: 5px solid #EA5D4E;
          padding-left: 10px;
        }
      }
      &.site-2 {
        a {
          border-left: 5px solid #6BB679;
          padding-left: 10px;
        }
      }
      &.site-3 {
        a {
          border-left: 5px solid #6465AB;
          padding-left: 10px;
        }
      }
      &.site-4 {
        a {
          border-left: 5px solid #A74794;
          padding-left: 10px;
        }
      }
      &.site-6 {
        a {
          border-left: 5px solid #5DB1AD;
          padding-left: 10px;
        }
      }
    }
  }
  .copyright {
    margin: 40px 0 0 0;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
    p {
      font: $normal 1.4rem/2.4rem $regular;
    }
  }
}