// Footer
footer {
  font: $normal 1.6rem/3.0rem $regular;
  position: relative;
  overflow-wrap: break-word;
  padding: 20px 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
  color: $white;
  background: $blue;
  text-align: left;
  .logo {
    img, svg {
      max-height: 120px;
      margin-bottom: 30px;
      @media (min-width: $breakpoint-tablet) {
        max-height: 160px;
        margin-bottom: 0px;
      }
    }
  }
  h5 {
    color: $white;
    font: $bold 2.2rem/3.2rem $regular;
    @media (min-width: $breakpoint-tablet) {
      text-align: left; 
    }
    margin-bottom: 10px;
  }
  p, address {
    font: $normal 1.4rem/2.4rem $regular;
    @media (min-width: $breakpoint-laptop) {
      font: $normal 1.6rem/2.7rem $regular;
    }
  }
  address {
    margin-bottom: 20px;
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      color: $white;
      text-decoration-color: $blue;
    }
  }
  ul.social {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 10px;
    }
  }
  ul {
    margin-bottom: 10px;
  }
  ul.sites {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }
    li {
      &.mhid {
        a {
          border-left: 5px solid $orange;
          padding-left: 10px;
        }
      }
      &.andy {
        a {
          border-left: 5px solid $green;
          padding-left: 10px;
        }
      }
      &.sem {
        a {
          border-left: 5px solid $purple;
          padding-left: 10px;
        }
      }
      &.wisdom {
        a {
          border-left: 5px solid $pink;
          padding-left: 10px;
        }
      }
      &.aim {
        a {
          border-left: 5px solid $teal;
          padding-left: 10px;
        }
      }
    }
  }
  ul.social {
    text-align: left;
    margin: 10px 0;
    @media (min-width: $breakpoint-tablet) {
      margin: 20px 0 0 0;
    }
    li {
      display: inline-block;
      margin: 0px 3px;
      a {
        svg {
          width: 30px;
          @media (min-width: $breakpoint-tablet) {
            width: 38px;
          }
          height: auto;
          path {
            transition: all ease .3s;
            fill: $white;
          }
        }
        &:hover {
          svg {
            path {
              transition: all ease .3s;
              fill: $orange;
            }
          }
        }
      }
    }
  }
  .copyright {
    margin: 20px 0 0 0;
    padding-top: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 40px 0 0 0;
      padding-top: 40px;
    }
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left;
    p {
      font: $normal 1.4rem/2.4rem $regular;
    }
  }
  .search {
    .search_form {
      form {
        &.focused {
          border-bottom: 1px solid $orange;
        }
        input {
          margin: 0;
          display: inline-block;
          &.search {
            text-align: left;
            box-sizing: border-box;
            font: $normal 1.6rem/2.6rem $regular;
            background: transparent;
            padding: 5px 10px;
            color: $white;
            border: 1px solid #dddfe9;
            width: 180px;
            &:focus {
              outline: none;
            }
            &::placeholder { 
              color: $white;
              opacity: 1;
            }
          }
          &.search-submit {
            text-indent: -9999px;
            overflow: hidden;
            box-sizing: border-box;
            font: $normal 1.6rem/2.6rem $regular;
            background: $white;
            border: 1px solid transparent;
            padding: 5px;
            
            background: $white url(../img/search_icon.svg) center center no-repeat;
            cursor: pointer;
            width: 40px;
          }
        }
      }
    }
  }
}

.back_to_top {

  display: none;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  background: #F05F4E url("../img/arrow_up.svg") no-repeat center center;
  &:hover {
    background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    &::before {
      text-indent: 0;
      content: "Back To Top";
      position: absolute;
      background: #4e4b66;
      color: #fff;
      right: calc(100% + 7px);
      font-size: 12px;
      line-height: 16px;
      width: max-content;
      padding: 4px 8px;
      border-radius: 4px;
      top: 10px
    }
  }
}