//--------------- MHID ---------------//

body.main-site {
  nav.sites {
    ul.sites {
      li.mhid { // Wisdom
        a {
          border-top: transparent;
          @media (min-width: 940px) {
            border-left: none;
            border-top: 3px solid $orange;
          }
        }
        a:hover {
          // border-top: 3px solid $orange;
        }
      }
    }
  }

  section.hero.single {
    background: $blue;
    h1 {
      color: #fff;
    }
  }
}

//---------------  ANDY ---------------//

body.subsite-1 { // Andy
  nav.sites {
    ul.sites {
      li.andy { // Wisdom
        a {
          border-top: transparent;
          @media (min-width: 940px) {
            border-left: none;
            border-top: 3px solid $green;
          }
        }
        a:hover {
          // border-top: 3px solid $green;
        }
      }
    }
  }
  section.hero.single {
    background: $green;
    h1 {
      color: $white;
    }
  }
  section.fancy-accordion {
    .container::before {
      background: #6ab678;
    }
    .hexagon {
      background: #6ab678;
    }
    .accordionItem.open .hexagon__inner {
      background: #FED47A;
    }
    .accordionItemHeading:hover .hexagon__inner {
      background: #FED47A;
    }
  }
  .back_to_top {
    background: $green url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
  h1 {
    font-family: "brother-1816", 'Lato', Helvetica, Arial, sans-serif !important;
    font-weight: 700;
    font-style: normal;
  }
}

//--------------- Early Minds ---------------//

body.subsite-2 { // Support
  nav.sites {
    ul.sites {
      li.sem{
        a {
          border-top: transparent;
          @media (min-width: 940px) {
            border-left: none;
            border-top: 3px solid $purple;
          }
        
        }
        a:hover {
          // border-top: 3px solid $purple;
        }
      }
    }
  }
  section.hero.single {
    background: $purple;
    h1 {
      color: $white;
    }
  }
  section.fancy-accordion {
    .container::before {
      background: #6465AB;
    }
    .hexagon {
      background: #6465AB;
    }
    .accordionItem.open .hexagon__inner {
      background: #F29330;
    }
    .accordionItemHeading:hover .hexagon__inner {
      background: #F29330;
    }
  }
  .back_to_top {
    background: $purple url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
}

//---------------  Wisdom ---------------//

body.subsite-3 { // Wisdom
  nav.sites {
    ul.sites {
      li.wisdom { // Wisdom
        a {
          border-top: transparent;
          @media (min-width: 940px) {
            border-left: none;
            border-top: 3px solid $pink;
          }
        
        }
        a:hover {
          // border-top: 3px solid $pink;
        }
      }
    }
  }

  section.hero.single {
    background: $pink;
    h1 {
      color: $white;
    }
  }
  // Content Section
  section.content_section, section.post {
    aside {
      .page_nav {
        h3 {
          border-bottom: 5px solid #A74794;
        }
      }
      .page_extra {
        h3 {
          border-bottom: 5px solid #A74794;
        }
      }
    }
  }
  // Intro Section
  section.intro {
    h2 {
      border-bottom: 5px solid #A74794;
    }
  }
  .back_to_top {
    background: #A74794 url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
  h1 {
    font-family: "citrus-gothic-solid", 'Lato', Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }
}

//---------------  YAG ---------------//

body.subsite-4 { // INSIGHTS
  nav.sites {
    ul.sites {
      li.insights {
        a {
          border-top: transparent;
          @media (min-width: 940px) {
            border-left: none;
            border-top: 3px solid #E3336B;
          }
        }
      }
    }
  }
  section.hero.single {
    background: $blue;
    h1 {
      color: $white;
    }
  }
}

//---------------  AIM ---------------//

body.subsite-5 { // AIM
  header.main {
    
  }
  section.hero.single {
    background: $teal;
    h1 {
      color: $white;
    }
  }
  .back_to_top {
    background: $teal url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
}

//---------------  PCRN ---------------//

body.subsite-6 { // PCRN
  header.main {
    
  }
  section.hero.single {
    background: #EA5D4E;
    h1 {
      color: $white;
    }
  }
  .back_to_top {
    background: #EA5D4E url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #cb4d40 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
}