// Main Site

body.main-site {
  header.main {
    background: #1F3E6E;
  }
  section.hero.single {
    background: #D6DDE0;
    h1 {
      color: #2d2d2d;
    }
  }
}

body.subsite-1 { // Andy
  header.main {
    background: #02A52A;
  }
  section.hero.single {
    background: #D6DDE0;
    h1 {
      color: #2d2d2d;
    }
  }
}

body.subsite-2 { // Support
  header.main {
    background: #4347A7;
  }
  section.hero.single {
    background: #D6DDE0;
    h1 {
      color: #2d2d2d;
    }
  }
}

body.subsite-3 { // Wisdom
  header.main {
    background: #A74794;
  }
  section.hero.single {
    background: #D6DDE0;
    h1 {
      color: #2d2d2d;
    }
  }
}

body.subsite-4 { // YAG
  header.main {
    background: #009FAD;
  }
  section.hero.single {
    background: #D6DDE0;
    h1 {
      color: #2d2d2d;
    }
  }
}