//--------------- MHID ---------------//

body.main-site {
  header.main {
   
  }
  section.hero.single {
    background: $blue;
    h1 {
      color: #fff;
    }
  }
}

//---------------  ANDY ---------------//

body.subsite-1 { // Andy
  header.main {
    
  }
  section.hero.single {
    background: $green;
    h1 {
      color: $white;
    }
  }
  .back_to_top {
    background: $green url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
}

//--------------- Early Minds ---------------//

body.subsite-2 { // Support
  header.main {
    
  }
  section.hero.single {
    background: $purple;
    h1 {
      color: $white;
    }
  }
  .back_to_top {
    background: $purple url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
}

//---------------  Wisdom ---------------//

body.subsite-3 { // Wisdom
  nav.sites {
    display: none;
  }
  header.main {
    
  }
  section.hero.single {
    background: $pink;
    h1 {
      color: $white;
    }
  }
  // Content Section
  section.content_section {
    aside {
      .page_nav {
        h3 {
          border-bottom: 5px solid #A74794;
        }
      }
      .page_extra {
        h3 {
          border-bottom: 5px solid #A74794;
        }
      }
    }
  }
  // Intro Section
  section.intro {
    h2 {
      border-bottom: 5px solid #A74794;
    }
  }
  .back_to_top {
    background: #A74794 url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
  h1 {
    font-family: "citrus-gothic-solid", sans-serif !important;
    font-weight: 400;
    font-style: normal;
  }
}

//---------------  YAG ---------------//

body.subsite-4 { // YAG
  header.main {
    
  }
  section.hero.single {
    background: $blue;
    h1 {
      color: $white;
    }
  }
}

//---------------  AIM ---------------//

body.subsite-5 { // AIM
  header.main {
    
  }
  section.hero.single {
    background: $teal;
    h1 {
      color: $white;
    }
  }
  .back_to_top {
    background: $teal url("../img/arrow_up.svg") no-repeat center center;
    &:hover {
      background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    }
  }
}