// Main Site

body.main-site {
  header.main {
   
  }
  section.hero.single {
    background: #243F6D;
    h1 {
      color: #2d2d2d;
    }
  }
}

body.subsite-1 { // Andy
  header.main {
    
  }
  section.hero.single {
    background: #6BB679;
    h1 {
      color: #fff;
    }
  }
}

body.subsite-2 { // Support
  header.main {
    
  }
  section.hero.single {
    background: #6465AB;
    h1 {
      color: #fff;
    }
  }
}

body.subsite-3 { // Wisdom
  header.main {
    
  }
  section.hero.single {
    background: #A74794;
    h1 {
      color: #fff;
    }
  }
}

body.subsite-4 { // YAG
  header.main {
    
  }
  section.hero.single {
    background: #5DB1AD;
    h1 {
      color: #fff;
    }
  }
}