// News

section.archive {
  padding: 20px 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
}

section.archive, section.news_items {
  article {
    margin-bottom: $padding-half;
    &:nth-child(3n+4) {
      margin-left: 0;
      clear: left;
    }
    .image {
      overflow: hidden;
      margin-bottom: 20px;
      img {
        transition: transform .5s;
        transform: scale(1);
      }
    }
    &:hover {
      .image {
        img {
          transition: transform .5s;
          transform: scale(1.05);
        }
      }
    }
    .content {
      h3 {
        margin-bottom: 10px;
      }
    }
  }  
}

section.resources {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  article.resource {
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid $border;
    @include border-radius(10px);
    border-top: 10px solid $blue;
    font: $normal 1.6rem/2.6rem $regular;
    margin-bottom: 20px;
    &:nth-child(4n+5) {
      margin-left: 0;
      clear: left;
    }
    ul {
      margin: 5px 0;
      list-style: none;
      font: $normal 1.6rem/2.6rem $regular;
      text-indent: -25px; /* key property */
      margin-left: 25px; /* key property */
      li {
        margin: 0;
        list-style: none;
        a {
          padding-left: 25px;
          
        }
      }
    }
    &.link {
      ul {
        li {
          a {
            background: url('../img/link_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.audio {
      ul {
        li {
          a {
            background: url('../img/audio_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.video {
      ul {
        li {
          a {
            background: url('../img/video_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
    &.document {
      ul {
        li {
          a {
            background: url('../img/document_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
      
    }
    &.image {
      ul {
        li {
          a {
            background: url('../img/image_icon.svg') center left no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}

section.newsletter_cta {
  background: $green;
  padding: $padding 0;
  text-align: center;
  h2 {
    color: $white;
    font: $xbold 4.6rem/5.6rem $regular;
  }
  p {
    color: $white;
  }
  #mc_embed_signup {
    form {
      
      position: relative;
      input[type="email"] {
        display: inline-block;
        margin: 0 auto 0 auto;
        font: $normal 1.4rem/1.4rem $regular;
        max-width: 240px;
        padding: 15px 20px 15px 20px;
        text-align: left;
        border: none;
      }
      input[type="submit"] {
        height: 47px;
        
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        padding: 15px 20px 15px 20px;
        margin: 0;
        font: $bold 1.4rem/1.4rem $regular;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
        letter-spacing: 0.1rem;
        color: $white;
        background: transparent;
        border: 2px solid $white;
        text-decoration: none;
        cursor: pointer;
        margin-top: -2px;
        &:hover {
          color: $white;
          border: 2px solid $blue;
          background: $blue;
        }
      }
    }
  }
}

.breadcrumbs + .filters .resource-filters, .breadcrumbs + .filters .opportunity-filters  { padding: 0 0 30px 0; }

.filters {
  .resource-filters, .opportunity-filters {
    padding: 30px 0;
    border-bottom: 1px solid $border;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    .filter-group {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  
  label {
    font: $bold 1.6rem/2.4rem $regular;
    white-space: nowrap;
    margin-right: 10px;
    
    &[for="resource-category"] {
      span {
        background: $orange;
        color: $white;
        padding: 5px 10px;
        margin-left: 5px;
      }
    }
    &[for="resource-type"] {
      span {
        background: $teal;
        color: $white;
        padding: 5px 10px;
        margin-left: 5px;
      }
    }
    &[for="opportunity-topic"] {
      span {
        background: #BE9ECB;
        color: $white;
        padding: 5px 10px;
        margin-left: 5px;
      }
    }
    &[for="opportunity-age"] {
      span {
        background: #759E91;
        color: $white;
        padding: 5px 10px;
      }
    }
  }
  
  select {
    padding: 10px 15px;
    font-size: 16px;
    @include border-radius(10px);
    border: 1px solid #b7b7b7;
    margin-right: 2%;
    box-sizing: border-box;
    background-size: 1rem;
    position: relative;
    z-index: 10;
    background: #F0F1F5;
    option {
      background: #F0F1F5;
      color: $black;
    }
    &.active {
      border: 1px solid $blue;
      background: $blue;
      color: $white;
    }
  }
  
  a.reset {
    text-decoration: none;
    color: $white;
    border: 1px solid $blue;
    padding: 5px 10px;
    background: #2d2d2d;
    transition: background 0.2s;
    @include border-radius(10px);
    &:hover {
      background: $blue;
      color: $white;
    }
  }
  
  @media (max-width: 700px) {
    .resource-filters {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.categories {
  margin: 5px 0px;
  font: $normal 1.5rem/2.4rem $regular;
  a {
    margin: 2px 2px 2px 0px;
    background: $orange;
    color: $white;
    padding: 5px 10px;
    text-decoration: underline;
    text-decoration-color: $white;
    white-space: nowrap;
    display: inline-block;
    &:hover {
      color: $white;
      background: $blue;
    }
  }
}
.resource-types {
  margin: 5px 0px;
  font: $normal 1.5rem/2.4rem $regular;
  a {
    margin: 2px 2px 2px 0px;
    background: $teal;
    color: $white;
    padding: 5px 10px;
    text-decoration: underline;
    text-decoration-color: $white;
    white-space: nowrap;
    display: inline-block;
    &:hover {
      color: $white;
      background: $blue;
    }
  }
}

.topic {
  margin: 5px 0px;
  font: $normal 1.5rem/2.4rem $regular;
  display: inline-block;
  a {
    margin: 2px 2px 2px 0px;
    background: #BE9ECB;
    color: $white;
    padding: 5px 10px;
    text-decoration: underline;
    text-decoration-color: $white;
    white-space: nowrap;
    display: inline-block;
    &:hover {
      color: $white;
      background: #9a78a8;
    }
  }
}
.age {
  margin: 5px 0px;
  font: $normal 1.5rem/2.4rem $regular;
  display: inline-block;
  clear: right;
  a {
    margin: 2px 2px 2px 0px;
    background: #759E91;
    color: $white;
    padding: 5px 10px;
    text-decoration: underline;
    text-decoration-color: $white;
    white-space: nowrap;
    display: inline-block;
    &:hover {
      color: $white;
      background: #567e71;
    }
  }
}
@media (min-width: 600px) {
  .opportunity-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    .thumb {
      flex: 0 0 300px;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .content {
      flex: 1;
    }
  }
}

.opportunity-item .meta{
}

.opportunity-item .badge{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  margin-left: 10px;
}

.opportunity-item .badge.closing-soon{
  background: rgba(255, 165, 0, 0.15);
}

.badge.closing-today {
  background: rgba(220, 38, 38, 0.1);
  color: #b91c1c;
}

.opportunity-item .badge.expired{
  background: rgba(255, 0, 0, 0.2);
  color: #b91c1c;
}
