name: Deploying to Live

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Deploy Site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          port: 21
          protocol: ftps
          server: termite-lon.cloudhosting.uk
          server-dir: public_html/wp-content/themes/mhid/
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # Requires secrets to be added to the repo (Settings > Secrets)
